body {
  background-color: #14142B;
  font-family: 'Anek Devanagari', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 16px;
  font-family: 'kanit', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
}

.navbar p {
  font-weight: 100;
}

.box-module {
  box-shadow: 2px 2px 0px 0px #F0F0F0;
  padding: 1em;
  min-height: 5em;
  border-radius: 1em;
  transition: 0.5s;
}

.small-box-module {
  padding: 0.5em;
  border-radius: 0.5em;
}

.bg-light-fade {
  background-color: rgb(255, 255, 255, 0.45);
}

.bg-pink {
  background-color: #FF5885;
}

.bg-slate {
  background-color: #3B3B4B;
}

.bg-cyan {
  background-color: #1AB2E3;
}

#scheduler-module {
  max-height: 70vh;
  overflow-x: auto;
}

.schedule-module-title {
  width: 10%;
}

.maximize {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  padding: 1em;
  height: 100vh;
  background-color: #3c0715e0;
  transition: 0.5s;
}

.module.maximize .box-module {
  max-height: 85vh !important;
}