body {
  background-color: #14142B;
  font-family: 'Anek Devanagari', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 16px;
  font-family: 'kanit', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
}

.navbar p {
  font-weight: 100;
}

.box-module {
  /* box-shadow: 2px 2px 0px 0px #F0F0F0; */
  border: solid white 2px;
  padding: 1em;
  min-height: 5em;
  border-radius: 1em;
  transition: 0.5s;
}

.small-box-module {
  padding: 0.5em;
  border-radius: 0.5em;
}

.bg-light-fade {
  background-color: rgb(255, 255, 255, 0.45);
}

.bg-pink {
  background-color: #FF5885;
}

.bg-slate {
  background-color: #3B3B4B;
}

.bg-cyan {
  background-color: #1AB2E3;
}

.bg-blue {
  background-color: #0A85AD;
}

#scheduler-module {
  /* max-height: 70vh; */
  overflow-x: auto;
}

.schedule-module-title {
  width: 10%;
}

.maximize {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  padding: 1em;
  height: 100vh;
  background-color: #141011db;
  transition: 0.5s;
}

.module.maximize .box-module {
  max-height: 85vh !important;
}

.bi-arrows-angle-expand {
  transition: 0.25s;
}
.bi-arrows-angle-expand:hover {
  transition: 0.25s;
  transform: scale(1.8) rotate(180deg);
}

.bi-arrows-angle-contract {
  transition: 0.25s;
}
.bi-arrows-angle-contract:hover {
  transition: 0.25s;
  transform: scale(0.8) rotate(180deg);
}

.small-box-module:hover {
  transform: scale(1.009);
  background-color: rgb(255, 255, 255, 0.65);
  transition: 0.2s;
}

.tiny-module {
  background-color: rgb(255, 255, 255, 0.65);
  border-radius: 0.25em;
  height: 100%;
  width: 2em;
  color: #505086;
  transition: 0.2s;
}

.tiny-module:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.tiny-module-completed {
  background-color: rgb(255, 255, 255, 0.2) !important;
}

.tiny-module-completed:hover {
  background-color: rgba(42, 232, 77, 0.517) !important;
}

.session-completed {
  background-color: rgb(36, 232, 18, 0.73) !important;
  transition: 0.2s;
}

.title-border {
  margin: 0 1em 0 0.5em;
  padding: 0.1em 0;
  border-radius: 0.4em;
}

#settings {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8a83a2c2;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings-box {
  background-color: #2B2B41;
  border-radius: 1em;
  transition: 0.2s;
  box-shadow: 2px 2px 0px 0px #F0F0F0;
  border: solid 2px white
}

.navbar .bi-chevron-double-down {
  transition: 0.2s;
}
.navbar .bi-chevron-double-down:hover {
  transform: scale(1.2) translate(0, 0.2em);
  transition: 0.2s;
}

#settings .bi-x-lg, #settings .bi-toggle-off {
  transition: 0.2s;
}
#settings .bi-x-lg:hover, #settings .bi-toggle-off:hover, #settings .bi-toggle-on:hover {
  transition: 0.2s;
  transform: scale(1.5);
}
#settings .bi-x-lg:hover {
  transition: 0.2s;
  transform: scale(1.5);
}
#settings .bi-toggle-off:hover, #settings .bi-toggle-on:hover {
  transition: 0.2s;
  transform: scale(1.2);
}

.bi-arrow-right, .bi-arrow-left {
  transition: 0.2s;
}
.bi-arrow-right:hover {
  transform: translate(0.3em, 0);
}
.bi-arrow-left:hover {
  transform: translate(-0.3em, 0);
}

.single-box-module {
  background-color: #2B2B41;
  padding: 0.8em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

#intensity {
  width: 5em;
}

.fatigue-col {
  width: 0.3em;
  margin: 0 0 0 4px;
  background-color: #1ab1e374;
  border-radius: 1em;
}
.one-five-fatigue {height: 20%;}
.two-five-fatigue {height: 40%;}
.three-five-fatigue {height: 60%;}
.four-five-fatigue {height: 80%;}
.five-five-fatigue {height: 100%;}
.active.one-five-fatigue {background-color: #0a5e7a;}
.active.two-five-fatigue {background-color: #1AB2E3;}
.active.three-five-fatigue {background-color: #20e3a4;}
.active.four-five-fatigue {background-color: #FAEB42;}
.active.five-five-fatigue {background-color: #FF5885;}

.bubble {
  height: 1em;
  width: 1em;
  background-color: #2B2B41;
  border-radius: 1em;
  margin: 0 1em;
}

.stats-module {
  background-color: #17637e91;
  border-radius: 0.5em;
  padding: 4em 0;
  height: 100%;
  /* margin: 0 1em; */
}

.single-box-module:hover {
  transform: scale(1.009);
  transition: 0.2s;
}

.session-details-module {
  background-color: #32453b54;
  border-radius: 0.5em;
  padding: 2em 0;
  height: 100%;
  /* margin: 0 1em; */
}

.module.maximize .box-module {
  overflow: auto;
}